.full-page {
  background-image: url(../img/Фон.1.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;

  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header {
  width: 100%;
  max-height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.4);
  padding-top: 18px;
  padding-bottom: 18px;
  box-sizing: border-box;
}

.header-wrap {
  min-width: 1366px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;

  color: #ffffff;
  text-decoration: none;
  margin-right: 706px;
}

.header:hover .header-wrap .title {
  color: #3cb878;
  transition: all ease 0.5s;
}

.header:hover .header-wrap .header-text-wrap .header-text .header-link {
  color: #3cb878;
  transition: all ease 0.5s;
}

.header:hover .header-wrap .header-text-wrap .header-text {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  transition: all ease 0.5s;
}

.header-text-wrap {
  width: 345px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header:hover .header-wrap .header-text-wrap svg {
  fill: #3cb878;
  transition: all ease 0.5s;
}

.header-text {
  font-size: 14px;
  line-height: 14px;

  color: #ffffff;
  padding-left: 25px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
  padding-left: 3px;

  color: #ffffff;
}

.header-link:nth-of-type(1) {
  padding-right: 3px;
}

.modal-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  box-sizing: border-box;
  padding: 31px 60px 38px 60px;
  background: white;

  width: 444px;
  min-height: 584px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
  margin-top: 54px;
  position: relative;
}

.form-links {
  width: 324px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 15px;
}

.link-sign-up {
  font-size: 20px;
  line-height: 20px;
  color: #434343;
  text-decoration: none;
}

.link-sign-up::before {
  content: "";

  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;

  background: #3cb878;
}

.link-log-in {
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  text-decoration: none;
}

.link-log-in:hover {
  color: #01813f;
  text-decoration: underline;
  transition: all ease 0.5s;
}

.svg-form {
  display: block;
}

.red-svg {
  border-right: 1px solid #2b0d091d;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 7px;
  padding-left: 12px;
}

.blue-svg {
  border-right: 1px solid #0a162f24;
  padding-right: 13px;
  padding-left: 11px;
}

.blue-btn {
  padding-left: 18px;
}

.red-btn {
  padding-left: 30px;
}

.link-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 160px;
  height: 48px;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;

  color: #ffffff;
  margin-bottom: 31px;
  border-radius: 3px;
}

.blue {
  background: #305db8;
  margin-right: 4px;
}

.blue:hover {
  background: #022263;
  transition: all ease 0.5s;
}

.red {
  background: #df4a32;
}

.red:hover {
  background: #ab1f09;
  transition: all ease 0.5s;
}

.or {
  width: 324px;
  font-size: 14px;
  line-height: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #848484;
  margin-bottom: 11px;
}

.or::before {
  content: "";
  width: 152px;

  border: 1px solid #f2f2f2;
  position: relative;
  top: 2px;
}

.or::after {
  content: "";
  width: 152px;

  border: 1px solid #f2f2f2;
  position: relative;
  top: 2px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  box-sizing: border-box;
  width: 324px;
  height: 44px;

  font-size: 14px;
  line-height: 14px;

  color: #434343;

  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding: 15px 0px 15px 19px;
  margin-bottom: 15px;
}

input::placeholder {
  font-size: 14px;
  line-height: 14px;

  color: #bebebe;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  outline: 1px solid #f2f2f2;
}

.checkbox-flex {
  width: 324px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

input[type="checkbox"] {
  display: none;
}

.fake {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;

  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
  margin-right: 8px;
}

.fake::before {
  content: url("../img/vector.png");

  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all ease 0.3s;
}

input[type="checkbox"]:checked + .fake::before {
  opacity: 1;
}

.agree {
  display: flex;
  align-items: center;
  
  font-size: 14px;
  line-height: 14px;

  color: #434343;
}

.agree-green {
  display: block;
  padding-left: 3px;
  color: #3cb878;
  text-decoration: none;
}

.agree-green:hover {
  color: #01813f;
  text-decoration: underline;
  transition: all ease 0.5s;
}

.form-btn {
  display: block;
  width: 324px;
  height: 46px;

  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;

  font-size: 16px;
  line-height: 16px;

  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
}

.form-btn:hover {
  background: #01813f;
  transition: all ease 0.5s;
}
